<% include partials/head.ejs %>

<header class="boxshadow">
  <div class="header-section">
    <h2>update game score</h2>
  </div>
</header>

<section>
  <form action="/update_score" method="post" class="form-scoreboard">
    <fieldset class="scoreboard">
      <label for="team1_score">
        <%= game.team_1.short_name %>:
        <input type="number" name="team1_score" value="<%= game.team_1_score %>" min="<%= game.team_1_score %>" max="30" id="score-team1" class="scoreboard-team">
        <input type="button" name="team1" value="+"/>
      </label>

      <label for="team2_score">
        <%= game.team_2.short_name %>:
        <input type="number" name="team2_score" value="<%= game.team_2_score %>" min="<%= game.team_2_score %>" max="30" id="score-team2" class="scoreboard-team">
        <input type="button" name="team2" value="+"/>
      </label>
    </fieldset>

    <fieldset class="score-info">
      <label for="scorer">
        scorer:
        <input type="text" name="scorer" placeholder="Who scored?">
      </label>

      <label for="assist">
        assist by:
        <input type="text" name="assist" placeholder="Who gave the pass?">
      </label>

      <label for="final-score">
        final score?
        <input type="checkbox">
      </label>

      <input type="hidden" name="game_id" value="<%= game.game.id %>">

      <input type="submit" value="update score" class="action-button">
      <button class="action-button cancel-update"><a href="/games">CANCEL</a></button>
    </fieldset>

  </form>
</section>

<% include partials/footer.ejs %>
