<% include partials/head.ejs %>

<header class="">
  <h1>Welcome to <span>Windmill</span> 2017</h1>
  <a href="/teams">All participating teams</a>
  <div>
    <a href="#">Yesterday</a>
  </div>
  <div>
    <a href="#">TODAY</a>
  </div>
  <div>
    <a href="#">10 june</a>
  </div>
  <div>
    <a href="#">11 june</a>
  </div>
</header>

<section>
  <ul class="gameslist">
    <% games.forEach(function (obj) { %>
    <li>
      <a href="/games/<%= obj.id %>">
        <div class="team1">
          <h3><%= obj.team_1.short_name %></h3>
        </div>

        <div class="info">
          <!--<h4> <b><%= new Date(obj.start_time).toLocaleString() %></b> </h4>-->
          <h4> <b><%= new Date(obj.start_time).toString().substr(15,6) %></b></h4> <!-- TODO -> substr() needs testing! -->
          <p><%= obj.game_site.name %></p>
        </div>

        <div class="team2">
          <h3><%= obj.team_2.short_name %></h3>
        </div>
      </a>
    </li>
    <% }) %>
  </ul>
</section>

<% include partials/footer.ejs %>
