<% include partials/head.ejs %>

<header class="header-section header-section-score">
  <section>
    <div class="nav nav-update">
      <a href="/games"><img class="back-btn" src="/img/arrow.svg"></a>   
      <h3>Game Overview</h3>
    </div>
  </section>
  

  <section class="header-section--score">
    <div class="team team-1">
      <a href="/teams/<%= game.team_1_id %>"><h3><%= game.team_1.name %></h3></a>
    </div>

    <div class="game-score">
      <h3><%= team1Score %> - <%= team2Score %></h3>
    </div>

    <div class="team team-2">
      <a href="/teams/<%= game.team_2_id %>"><h3><%= game.team_2.name %></h3></a>
    </div>

    <div class="update-login-btn">
    <% if (accessToken) { %>
      <a href="#lightbox">Update Score</a>
    <% } else { %>
      <a href="/login">Log in</a>
    <% } %> 
    </div>
  </section>
</header>

<section class="header-section--info">
  <div>
    <p> <%= h.moment(game.start_time).format('MMMM Do YYYY') %> at <%= new Date(game.start_time).toString().substr(15,6) %> </p>
  </div>

  <div>
    <p> <%= game.game_site.name %> </p>
  </div>
</section>

<section class="game-updates" id="x<%= game.id %>">
  <h2><%= game.tournament.name %> - Round <%= game.swiss_round.round_number %></h2>  
  <p><b>Last scoreupdate:</b> <%= h.moment(game.time_last_updated).format('MMMM Do YYYY') %> at <%= new Date(game.time_last_updated).toString().substr(15,6) %> </p>

  <% if(locals.flashes) { %>
    <% var categories =  Object.keys(flashes); %>
    <% categories.forEach(function (cat) { %>
      <% flashes[cat].forEach(message => { %>
        <section class="flash-message boxshadow"> 
          <button id="close-message">close</button>
          <h2>Score Update!</h2>
          <p><%= message %></p> 
        </section>
      <% }) %>
    <% }) %>
  <% } %>
</section>

<section class="game-chat" id="game-chat<%= game.id %>">
  <h2>Gamechat</h2>

  <ul id="chat<%= game.id %>">
    <% messages.forEach(function (obj) { %>
    <li class="chat-message"> 
      <p><b>Message:</b></p>
      <p> <%= obj.message.content %> </p>
      <span> <%= obj.message.date %> , <%= obj.message.time %> </span>
    </li>
    <% }) %>
  </ul>

  <form>
    <input type="text" autocomplete="off"  placeholder="Comment here!"/>
    <input type="submit" class="" value="SEND">
  </form>
</section>

<section class="score-update" id="lightbox">
  <section>
  <div class="score">
    <a href="/update/<%= game.id %>"><img class="close-btn" src="/img/close.svg"></a>      
    <h3>Update Score</h3>
  </div>
  
  <form action="/update_score" method="post" class="form-scoreboard">
    <div class="scoreboard">
      <label for="team1_score">
        <div class="box team-name1"><h2><%= game.team_1.name %></h2></div>
        <input type="number" name="team1_score" value="<%= team1Score %>" max="30" id="score-team1" class="scoreboard-team">
        <button class="add-score add-score1" type="button"><img class="add-score1" src="/img/plus.svg"></button>
      </label>

      <label for="team2_score">
        <div class="box team-name2"><h2><%= game.team_2.name %></h2></div>
        <input type="number" name="team2_score" value="<%= team2Score %>" max="30" id="score-team2" class="scoreboard-team">
        <button class="add-score add-score2" type="button"><img class="add-score2" src="/img/plus.svg"></button>
      </label>
    </div>

    <div class="score-info">
      <input type="checkbox" id="final-score" name="final-score" value="">
      <label for="final-score">Final score?</label>

      <input type="hidden" name="game_id" value="<%= game.id %>">
      <input type="hidden" name="team_1" value="<%= game.team_1.name %>">
      <input type="hidden" name="team_2" value="<%= game.team_2.name %>">

      <input type="submit" value="update score" class="action-button">
    </div>
  </form> 
  </section>
  
</section>

<% include partials/footer.ejs %>
