<% include partials/head.ejs %>

<header class="">
  <div class="background"></div>
  <div class="header-section">
    <button class="nav-btn"><span>menu</span></button>
    <h1>Welcome to <span>Windmill</span></h1>
  </div>

  <nav>
    <a href="/teams">All participating teams</a>
    <a href="/login">log in to leaguevine</a>
    <li>
      <a href="#">Swiss Standings</a>
    </li>
  </nav>
</header>

<section>
  <div class="background">
    <h2>Top <%= Object.keys(swiss).length %> - round 1</h2>
    <a href="/swiss-standings/<%= games[0].swiss_round_id %>">full standings - swiss id:<%= games[0].swiss_round_id %></a>

    <table>
      <tr>
        <th>#</th>
        <th>TEAM</th>
        <th>Strength</th>
      </tr>
      <% swiss.forEach(function (obj) { %>
      <tr>
        <td><%= obj.ranking %>.</td>
        <td><a href="/teams/<%= obj.team.id %>"><%= obj.team.short_name %></a></td>
        <td><%= obj.swiss_score %></td>
      </tr>
      <% }) %>
    </table>
  </div>

  <div class="background">
    <ul class="gameslist">
      <h2>Games to watch</h2>
      <li>
        <p>swiss round 2</p>
        <p>name tourney</p>
        <a href="/#">
          <div class="team1">
            <h4><span>13</span></h4>
            <h3>team</h3>
          </div>

          <div class="info">
            <p> <b><%= new Date().toLocaleDateString() %></b></p>
            <p> <b><%= new Date().toString().substr(15,6) %></b></p> <!-- TODO -> substr() needs testing! -->
            <p>location</p>
          </div>

          <div class="team2">
            <h4><span>2</span></h4>
            <h3>team</h3>
          </div>
        </a>
      </li>
    </ul>
  </div>

  <div class="background">
    <ul class="gameslist">
      <h2>Games today</h2>
      <% games.forEach(function (obj) { %>
      <li>
        <p>swiss round <%= obj.swiss_round.round_number %></p>
        <p><%= obj.tournament.name %></p>
        <a href="/games/<%= obj.id %>">
          <div class="team1">
            <h4><span><%= obj.team_1_score %></span></h4>
            <h3><%= obj.team_1.short_name %></h3>
          </div>

          <div class="info">
            <p> <b><%= new Date(obj.start_time).toLocaleDateString() %></b></p>
            <p> <b><%= new Date(obj.start_time).toString().substr(15,6) %></b></p> <!-- TODO -> substr() needs testing! -->
            <p><%= obj.game_site.name %></p>
          </div>

          <div class="team2">
            <h4><span><%= obj.team_2_score %></span></h4>
            <h3><%= obj.team_2.short_name %></h3>
          </div>
        </a>
      </li>
      <% }) %>
    </ul>
  </div>

</section>

<% include partials/footer.ejs %>
