<% include partials/head.ejs %>

<header class="">
  <div class="background"></div>
  <div class="header-section">
    <button class="nav-btn"><span>menu</span></button>
    <h1>Welcome to <span>Windmill</span></h1>
  </div>

  <nav>
    <a href="/teams">All participating teams</a>
    <a href="/login">log in to leaguevine</a>
    <li>
      <a href="#">Yesterday</a>
    </li>
    <li>
      <a href="#">TODAY</a>
    </li>
    <li>
      <a href="#">10 june</a>
    </li>
    <li>
      <a href="#">11 june</a>
    </li>
  </nav>
</header>

<section>
  <ul class="gameslist">
    <% games.forEach(function (obj) { %>
    <li>
      <a href="/games/<%= obj.id %>">
        <div class="team1">
          <p>team 1</p>
          <h3><%= obj.team_1.short_name %></h3>
        </div>

        <div class="info">
          <!--<h4> <b><%= new Date(obj.start_time).toLocaleString() %></b> </h4>-->
          <p> <b><%= new Date(obj.start_time).toString().substr(15,6) %></b></p> <!-- TODO -> substr() needs testing! -->
          <p><%= obj.game_site.name %></p>
        </div>

        <div class="team2">
          <p>team 2</p>
          <h3><%= obj.team_2.short_name %></h3>
        </div>
      </a>
    </li>
    <% }) %>
  </ul>
</section>

<% include partials/footer.ejs %>
