<% include partials/head.ejs %>

<header class="header-section">
  <section>
    <div class="header-section">
      <h2><%= tournamentLong %></h2>
    </div>

    <div class="header-tabs">
      <ul>
        <li class=""><a href="/games">Games</a></li>
        <li class="active"><a href="/swiss-standings/<%= games[0].swiss_round_id %>">Rankings</a></li>
      </ul>
    </div>
  </section>
</header>

<section class="swiss-standings">
  <h2>SWISS ROUND <%= round_number %> - <%= tournamentShort %></h2>
  <p>Last updated: <%= h.moment(lastUpdate) %></p>
  <table>
    <tr>
      <th></th>
      <th>TEAM</th>
      <th>Swiss Points</th>
    </tr>
    <% data.forEach(function (obj) { %>
    <tr>
      <td><%= obj.ranking %>.</td>
      <td><a href="/teams/<%= obj.team.id %>"><%= obj.team.short_name %></a></td>
      <td><%= obj.swiss_score %></td>
    </tr>
    <% }) %>
  </table>
</section>

<% include partials/footer.ejs %>