<% include partials/head.ejs %>

<header class="header-section">
  <section>
    <div class="nav">
      <a href="/games"><img class="back-btn" src="/img/arrow.svg"></a>  
      <% if (data.name.split(" ").length > 4 ) { %>
        <h3> <%= data.short_name %> </h3>
        <% } else { %>
        <h3> <%= data.name %> </h3>
      <% } %>
    </div>

    <div class="team-quick-info">
      <div>
        <img src="<%= data.profile_image_50 %>" alt="">
      </div>
      <div>
        <p>
          From: <% if (data.city) { %> <%= data.city  %> <% } else { %> - <% } %>, <%= data.country %>
        </p>
      </div>
      <div>
        <p>
          Record: <%= data.wins %>-<%= data.losses %>-<%= data.ties %>
        </p>
      </div>
    </div>
  </section>
</header>

<section class="next-game">
  <div class="">
    <h2>Next game - Round <%= next.swiss_round.round_number %></h2>
        
    <div class="info">
      <% if (next.team_1.short_name === data.short_name ) { %>
        <h3> vs. <a href="/teams/<%= next.team_2_id %>"><%= next.team_2.short_name %></a></h3>
      <% } else if (next.team_2.short_name === data.short_name) { %> 
        <h3> vs. <a href="/teams/<%= next.team_1_id %>"><%= next.team_1.short_name %></a></h3>
      <% } %>
      <p> <b><%= h.moment(next.start_time).format('dddd Do') %> , <%= new Date(next.start_time).toString().substr(15,6) %> - </b> <%= next.game_site.name %></p>
    </div>
  </div>
</section>

<div class="content__team-page">
  <section class="team-desc">
    <h2>About</h2>
    <p>
      <%= data.info  %>
    </p>
  </section>

  <section class="team-games team-games__team">
  <h2>Games Played</h2>    
    <ul class="gameslist gamelist__detail">
      <% games.forEach(function (obj) { %>
      <li class="boxshadow">
        <div class="tournament-info">
          <p class=""><%= obj.tournamentStyle %></p>
          <p><%= new Date(obj.startTime).toString().substr(15,6) %> </p>
        </div>

        <a href="#" class="game">
        
          <div class="team team1">
            <p><%= obj.team_1.name %></p>
            <h4><span><%= obj.team_1_score %></span></h>
          </div>

          <div class="info">
            <p><b>-</b></p>
          </div>

          <div class="team team2">
            <p><%= obj.team_2.name %></p>
            <h4><span><%= obj.team_2_score %></span></h4>
          </div>
        </a>
      </li>
      <% }) %>
    </ul>
</section>

</div>



<% include partials/footer.ejs %>
