<% include partials/head.ejs %>

<header class="team-header boxshadow">
  <div class="header-section">
    <h2> <%= data.name %> </h2>
  </div>

  <div class="team-quick-info">
    <div>
      <img src="<%= data.profile_image_50 %>" alt="">
    </div>
    <div>
      <p>
        From: <% if (data.city) { %> <%= data.city  %> <% } else { %> - <% } %>, <%= data.country %>
      </p>
    </div>
    <div>
      <p>
        Record: <%= data.wins %>-<%= data.losses %>-<%= data.ties %>
      </p>
    </div>
  </div>
</header>

<section class="team-desc">
  <h2>About</h2>
  <p>
    <%= data.info %>
  </p>
</section>

<section>
  <div class="background team-games">
    <h2>Games Played</h2>
    <ul class="gameslist gamelist__teampage">
      <% games.forEach(function (obj) { %>
      <li>
        <p class="tournament-info">ROUND <%= obj.swissRoundNumber %> - @<%= obj.tournamentStyle %></p>
        <a href="#">
          <div class="team1">
            <h3><%= obj.team_1.name %></h3>
            <h4><span><%= obj.team_1.score %></span></h4>
          </div>

          <div class="info">
            <p> <b><%= h.moment(obj.startTime).format('dddd Do') %></b></p>
            <p> <b><%= new Date(obj.startTime).toString().substr(15,6) %></b></p>
          </div>

          <div class="team2">
            <h3><%= obj.team_2.name %></h3>
            <h4><span><%= obj.team_2.score %></span></h4>
          </div>
        </a>
      </li>
      <% }) %>
    </ul>
  </div>
</section>

<section>
  <div class="background team-games">
    <h2>Next game</h2>
    <ul class="gameslist">
      <li class="boxshadow">
        <p class="tournament-info">ROUND <%= next.swiss_round.round_number %> - @<%= next.tournament.name %></p>
        <a href="/update/<%= next.id %>">

          <div class="team1">
            <h3> <%= next.team_1.short_name %> </h3>
            <h4><span><%= next.team_1_score %></span></h4>
          </div>

          <div class="info">
            <p> <b><%= h.moment(next.start_time).format('dddd Do') %></b></p>
            <p> <b><%= new Date(next.start_time).toString().substr(15,6) %></b></p>
          </div>

          <div class="team2">
            <h3> <%= next.team_2.short_name %></h3>
            <h4><span><%= next.team_2_score %></span></h4>
          </div>

        </a>
        <% if (next.game_site) { %>
        <p class="game-location"><%= next.game_site.name %></p>
        <% } %>
      </li>
    </ul>
  </div>
</section>

<% include partials/footer.ejs %>
