<% include partials/head.ejs %>

<header class="">
  <h1> <%= data.name %> </h1>
  <div class="team-quick-info">
    <div>
      <img src="<%= data.profile_image_50 %>" alt="">
    </div>
    <div>
      <p>
        <%= data.city %>, <%= data.country %>
      </p>
    </div>
    <div>
      <p>
        record: <%= data.wins %>-<%= data.losses %>-<%= data.ties %>
      </p>
    </div>
  </div>
</header>

<section class="team-desc">
  <p>
    <%= data.info %>
  </p>
</section>

<section class="team-games">
  <ul class="gameslist">
    <h2>Games Played</h2>
    <% games.forEach(function (obj) { %>
    <li>
      <% if (obj.swissRoundId) { %>
      <p>ROUND <%= obj.swissRoundNumber %></p>
      <% } %>
      <p><%= obj.tournamentStyle %></p>
      <a href="#">
        <div class="team1">
          <h4><span><%= obj.team_1.score %></span></h4>
          <h3><%= obj.team_1.name %></h3>
        </div>

        <div class="info">
          <p> <b><%= h.moment(obj.startTime).format('dddd Do') %></b></p>
          <p> <b><%= new Date(obj.startTime).toString().substr(15,6) %></b></p>
          <% if (obj.gameSite) { %>
          <p><%= obj.gameSite %></p>
          <% } %>
        </div>

        <div class="team2">
          <h4><span><%= obj.team_2.score %></span></h4>
          <h3><%= obj.team_2.name %></h3>
        </div>
      </a>
    </li>
    <% }) %>
  </ul>
</section>

<% include partials/footer.ejs %>
